* text=auto eol=lf
*.zip filter=lfs diff=lfs merge=lfs -text
\# filter=lfs diff=lfs merge=lfs -text
例如追踪 filter=lfs diff=lfs merge=lfs -text
ZIP filter=lfs diff=lfs merge=lfs -text
文件 filter=lfs diff=lfs merge=lfs -text
